<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Josue</a></li>
		        	<li><a href="/About">About</a></li>
	        		<li><a href="/CV">CV</a></li>
	        		<li><a href="/Work">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:josdchavez@gmail.com">email</a></li>
	        		<li><a href="https://github.com/josdchavez">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
