---
layout: default
---
background: linear-gradient(270deg, #f01f0d, #f08d0d, #eff00d, #0df062, #0df0c6, #0d8ef0, #180df0, #9a0df0, #f00dec, #f00d91, #f00d23);
background-size: 2200% 2200%;

-webkit-animation: AnimationName 23s ease infinite;
-moz-animation: AnimationName 23s ease infinite;
animation: AnimationName 23s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
